.env
/node_modules
/public/hot
/public/storage
/public/certificate-pdf
/public/cea-sia-certificate-pdf
/resources/views/certificates
##/storage/*.key
/storage/app/avetmiss
/storage/fonts/
/storage/avetmiss
/storage/app/excel
/storage/app/conversion
/storage/app/public/config
/storage/app/public/documents
/storage/app/public/enrolment
/storage/app/public/student
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
public/cea-sia-certificate-pdf/pdf-style.css
public/cea-sia-certificate-pdf/style_.css
public/cea-sia-certificate-pdf/style.css
public/certificate-pdf/pdf-style.css
public/certificate-pdf/style.css
app/Console/Kernel.php
resources/views/custom
public/custom